<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
</head>
<body class="grid g-column-15 g-row-15">
    <main class="g-row-start-3 g-row-end-15 g-column-start-3 g-column-end-14">
    <slot />
    </main>
</body>
</html>
